using System.Net.Http;
using System.Text.Json;
using System.Text.Json.Serialization;
using System.Text.Json.Serialization.Metadata;
using {{packageName}}.{{clientPackage}};
using {{packageName}}.{{apiPackage}};
using {{packageName}}.{{modelPackage}};

namespace {{packageName}}.{{apiPackage}}
{
    /// <summary>
    /// Any Api client
    /// </summary>
    {{>visibility}} interface {{interfacePrefix}}Api
    {
        /// <summary>
        /// The HttpClient
        /// </summary>
        HttpClient HttpClient { get; }
    }
    
    // DNV customization: Add client interface/object
    /// <summary>
    /// </summary>
    public partial interface {{interfacePrefix}}{{clientName}}
    {
{{#apiInfo.apis}}
        {{interfacePrefix}}{{classname}} {{classname}} { get; }
{{/apiInfo.apis}}
    }
}

namespace {{packageName}}
{
    public class {{clientName}} : {{interfacePrefix}}{{clientName}}
    {
        public HttpClient HttpClient { get; }
        public JsonSerializerOptionsProvider JsonSerializerOptionsProvider { get; private set; }
{{#apiInfo.apis}}
        {{>visibility}} virtual {{interfacePrefix}}{{classname}} {{classname}} { get; private set; }
{{/apiInfo.apis}}

        public {{clientName}}(
            HttpClient httpClient, {{#apiInfo.apis}}{{interfacePrefix}}{{classname}} {{#lambda.camelcase_sanitize_param}}{{classname}}{{/lambda.camelcase_sanitize_param}}, {{/apiInfo.apis}}JsonSerializerOptionsProvider? jsonSerializerOptionsProvider = null) 
        {
            HttpClient = httpClient;
{{#apiInfo.apis}}
            {{classname}} = {{#lambda.camelcase_sanitize_param}}{{classname}}{{/lambda.camelcase_sanitize_param}};
{{/apiInfo.apis}}
            if (jsonSerializerOptionsProvider != null)
            {
                JsonSerializerOptionsProvider = jsonSerializerOptionsProvider;
            }
            else
            {
                var jsonSerializerOptions = new JsonSerializerOptions();
                jsonSerializerOptions.Converters.Add(new JsonStringEnumConverter());
                jsonSerializerOptions.Converters.Add(new DateTimeJsonConverter());
                jsonSerializerOptions.Converters.Add(new DateTimeNullableJsonConverter());
                {{#supportsDateOnly}}
                jsonSerializerOptions.Converters.Add(new DateOnlyJsonConverter());
                jsonSerializerOptions.Converters.Add(new DateOnlyNullableJsonConverter());
                {{/supportsDateOnly}}
                {{#models}}
                {{#model}}
                {{#isEnum}}
                jsonSerializerOptions.Converters.Add(new {{datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}JsonConverter());
                jsonSerializerOptions.Converters.Add(new {{datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}NullableJsonConverter());
                {{/isEnum}}
                {{^isEnum}}
                jsonSerializerOptions.Converters.Add(new {{classname}}JsonConverter());
                {{/isEnum}}
                {{/model}}
                {{/models}}
                jsonSerializerOptions.TypeInfoResolver = new DefaultJsonTypeInfoResolver();
                JsonSerializerOptionsProvider = new JsonSerializerOptionsProvider(jsonSerializerOptions);
            }
        }
    }
}