using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Text.Json;
using System.Text.Json.Serialization;
using Microsoft.Extensions.Logging;
using {{packageName}}.{{clientPackage}};
using {{packageName}}.{{apiPackage}};

namespace {{packageName}}.{{apiPackage}}
{
    /// <summary>
    /// Any Api client
    /// </summary>
    {{>visibility}} interface {{interfacePrefix}}Api
    {
        /// <summary>
        /// The HttpClient
        /// </summary>
        HttpClient HttpClient { get; }
    }

    /// <summary>
    /// </summary>
    public partial interface {{interfacePrefix}}{{clientName}}
    {
		JsonSerializerOptionsProvider JsonSerializerOptionsProvider { get; }

{{#apiInfo.apis}}
        {{interfacePrefix}}{{classname}} {{classname}} { get; }
{{/apiInfo.apis}}

    }
}

namespace {{packageName}}
{
    public class {{clientName}} : {{interfacePrefix}}{{clientName}}
    {
        public HttpClient HttpClient { get; }
		public JsonSerializerOptionsProvider JsonSerializerOptionsProvider { get; private set; }
{{#apiInfo.apis}}
        {{>visibility}} virtual {{interfacePrefix}}{{classname}} {{classname}} { get; private set; }
{{/apiInfo.apis}}

        public {{clientName}}(
            HttpClient httpClient, JsonSerializerOptionsProvider? jsonSerializerOptionsProvider = null) 
        {
            HttpClient = httpClient;
            if (jsonSerializerOptionsProvider != null)
            {
                JsonSerializerOptionsProvider = jsonSerializerOptionsProvider;
            }
            else
            {
                var jsonSerializerOptions = new JsonSerializerOptions();
                jsonSerializerOptions.Converters.Add(new JsonStringEnumConverter());
                jsonSerializerOptions.Converters.Add(new DateTimeJsonConverter());
                jsonSerializerOptions.Converters.Add(new DateTimeNullableJsonConverter());
                jsonSerializerOptions.Converters.Add(new DateOnlyJsonConverter());
                jsonSerializerOptions.Converters.Add(new DateOnlyNullableJsonConverter());
            	JsonSerializerOptionsProvider = new JsonSerializerOptionsProvider(jsonSerializerOptions);
            }
            var loggerFactory = LoggerFactory.Create(builder => builder.AddConsole().SetMinimumLevel(LogLevel.Information));
{{#apiInfo.apis}}
            {{classname}} = new {{classname}}(loggerFactory.CreateLogger<{{classname}}>(), loggerFactory, httpClient, JsonSerializerOptionsProvider, new {{classname}}Events());
{{/apiInfo.apis}}
        }

    }
}
namespace {{packageName}}.Models
{
    /// <summary>
    /// 
    /// </summary>
    public static class GlobalContext
    {
        /// <summary>
        /// 
        /// </summary>
        public static Dictionary<Type, JsonSerializerContext> ContextMapper = new Dictionary<Type, JsonSerializerContext>();
    }
}