{{#model.allVars}}{{^isDiscriminator}}{{{datatypeWithEnum}}}{{#isEnum}}{{#lambda.first}}{{#isNullable}}{{>NullConditionalProperty}}  {{/isNullable}}{{^required}}{{nrt?}}{{^nrt}}{{#vendorExtensions.x-is-value-type}}?{{/vendorExtensions.x-is-value-type}}{{/nrt}}  {{/required}}{{/lambda.first}}{{/isEnum}}{{^isEnum}}{{#isNullable}}{{>NullConditionalProperty}}{{/isNullable}}{{/isEnum}} {{#lambda.escape_reserved_word}}{{#lambda.camel_case}}{{name}}{{/lambda.camel_case}}{{/lambda.escape_reserved_word}}{{#defaultValue}} = {{^required}}default{{/required}}{{#required}}{{^isDateTime}}{{#isString}}{{^isEnum}}@{{/isEnum}}{{/isString}}{{{.}}}{{/isDateTime}}{{#isDateTime}}default{{/isDateTime}}{{/required}}{{/defaultValue}}{{^defaultValue}}{{#lambda.first}}{{#isNullable}} = default  {{/isNullable}}{{^required}}{{#isEnum}} = null{{/isEnum}}{{^isEnum}} = default{{/isEnum}}  {{/required}}{{/lambda.first}}{{/defaultValue}}  {{/isDiscriminator}}{{/model.allVars}}
